.containerNavigate{
margin-right: 50px;
margin-top: -110px;
color: white;
}

.navigate{
    border-radius: 15px;
    background: none;
    box-shadow: 0 0 2px black;
  }
  .navItem {
    float: right;
    list-style-type: none;
    padding: 10px;
    font-family: Helvetica;
    font-size: 18px;
    border: 1px solid white;
    border-left: none;
    border-right: none;
    transform: skew(160deg);
    width: 100px;
    text-align: center;
    &:hover{
        font-size: 20px;
        color: black;
        font-weight: bold; 
        border: 1px solid black; 
    }
  }
  p {
    transform: skew(-160deg);
  }
  li:hover {
    background: #eee;
    cursor: pointer;
  }

  @media only screen and (max-width: 700px) {
    
        .navItem {
            font-size: 10px;
            padding: 5px;
            width: auto;
            
            &:hover{
                font-size: 12px;
            }
        }
  }