.formEventPages{
    background: black;
   }
   
  .containerFormNewEvent {
        /* Ajouter box-sizing */
    
    border-radius:5px;
    background-color:#f2f2f2;
    padding:20px;
  
    /* redéfinition 400 + 2*20 */
    max-width: 540px;
    margin : 60px auto;
    margin:0 auto;
  }
  .titleNewEvent  {
    color: #ff13a7;
    width: 100%;
  }